# Dependencies
node_modules/
npm-debug.log
yarn-error.log
# package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
.next/
out/
build/
dist/

# Secrets
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output

# Production
.vercel

# Uploads
public/uploads/
